extends layout

block content
  h1= title
  p i am crazy #{title}
  br
  - var btnType = 'danger'
  - var btnSize = 'lg'
  button(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) press me
